# EditorConfig is awesome: https://EditorConfig.org
# top-most EditorConfig file
# probably it should not be root true once it comes into VS project, since there should be another editorconfig file
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{scss,less,json}]
indent_size = 2
